Allow PUT /api/v1/todos/:id to create a resource

According to [RFC 2616 section 9.6](https://datatracker.ietf.org/doc/html/rfc2616#section-9.6), a PUT to a valid URI should be able to create a new resource.

I have decided not to allow PUT to /todos/:id. The client will need to to POST to /todos to create todo resources. There is not a great enough need to allow the client to generate its own IDs to warrant supporting this feature.